apiVersion: config.sdcio.dev/v1alpha1
kind: Config
metadata:
  name: arista-vlan10-leaf2
  namespace: sdc
  labels:
    config.sdcio.dev/targetName: leaf-2-arista
    config.sdcio.dev/targetNamespace: sdc
    vlan: "10"
    purpose: data
spec:
  priority: 30
  config:
  - path: /
    value:
      # 1. VLAN definition
      network-instances:
        network-instance:
        - name: default
          vlans:
            vlan:
            - vlan-id: 10
              config:
                vlan-id: 10
                name: DATA
                status: ACTIVE
      # 2. Trunk port to spine
      interfaces:
        interface:
        - name: Ethernet1
          ethernet:
            switched-vlan:
              config:
                interface-mode: TRUNK
                trunk-vlans:
                - 10
